<!doctype html>
<html lang="en">
<head>
    <title>Wine Quality Predictor</title>
</head>
<body>
    <form action="" method="get">
        Fixed acidity: <input type="text" name="fixed_acidity">
        Volatile acidity: <input type="text" name="volatile_acidity">
        Citric acidity: <input type="text" name="citric_acidity">
        Alcohol: <input type="text" name="alcohol">
        <input type="submit" value="Predict">
    </form>
    <ul>
        Wine Quality: {{wine_quality}}
    </ul>
</body>
